.App {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

form {
	margin: auto;
	margin-top: 20%;
  width: 50%;
  padding: 10px;
	text-align: center;
  box-sizing: border-box;
	box-shadow: 0 20px 40px rgba(0,0,0,0.2);
	border-radius: 20px;
}

body > div.fade.modal.show > div > div > div.modal-body > div > div.carousel-inner {
  width: 65%;
  margin: auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }